<!DOCTYPE html >
<html >
<head>
    <link rel="stylesheet" href=>
<title></title>
</head>
<body>
    
 
<div id="wrap">
    <div id="header">
        <h1><a  title="segundo cuadro">My Porfolio</a></h1>
        <p>Hola, mi nombre es Juan Ignacio Amaya y este es mi portafolio</p>
    </div>

    
    <div id="content">
        <div class="post">
            <div class="post">
            <h2> Un poco de mí</h2>
            <p>Descripción: Soy un chico, de 21 años que vive en la república Argentina estudiante Lic. en biotecnología, en estos últimos años vi que la programación se estuvo haciendo más conocida y quise ver de qué se trataba. Entonces empecé hacer cursos de distintos lenguajes y ver videos en YouTube. </p>
            <p>Mi experiencia en lenguajes se basan un poco en Python, Java, JavaScript.</p>
            </div>
        <div class="post">
        <h2>Donde contactarme</h2>
        <h3>Redes sociales</h3>
        <ol>
            <section class="buttons"> 
                <a href="http://instagram.com/" target="blank" ><img src="../assets/img/Instagram_icon-icons.png" [width]="60" [height]="60" ></a> 
                <a href="http://www.facebook.com/" target="blank" ><img src="../assets/img/facebook_icon-icons.com_59205.png" [width]="60" [height]="60"></a>
                <a href="http://www.YouTube.com" target="blank" ><img src="../assets/img/Youtube2.0.png"  [width]="60" [height]="60" ></a>
                </section>
            
        </ol>
        <div class="pots">
        <h3>Correo electrónico </h3>
            <li>juaniamaya10@hotmail.com</li> 
        </div>
        <h3>Mi experiencia en programacion</h3>
        <p>Por el momento no tuve experiencia en el campo de la programación.</p>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            
            
        </ul>
        </div>
        </div>
    </div>
</div>
 
</body>
</html>
<router-outlet></router-outlet>
